body{
	background-color:#EFFFFB;
	margin:0px;
	}

	.header{
	display:flex;
	background-color:#94B4C1;
	padding:10px;
	margin:0px;
	text-align:center;
	}
	
	#logopic img{
	width:150px;
	height:150px;
	border-radius:15px;
	margin-top:30px;
	margin-left:20px;
	}
	
	#logo{
	padding:30px;
	margin-left:80px;
	text-align:left;
	color:black;
	font-size:42px;
	margin-top:35px;
	}

	#top-right {
	top: 10px;
	right: 10px;
	}

	#top-right button{
	width:100px;
	height:70px;
	border-radius: 15px;
	margin-left: 1210px;
	margin-top: 50px;
	background-color:#1E1E1E;
	color:#FFFFFF;
	border:none;
	}

	.nav{
	display:flex;
	background-color:black;
	text-align:center;
	}

	.nav div{
	background-color:#1E1E1E;
	padding:20px;
	margin-left:20px;
	margin-right:20px;
	font-size:20px;
	font-family: "Lucida Console";
	text-align:justified;
	border-radius:10px;
	}

	#home{
	margin-left:600px;
	}

	.nav div a{
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	}
	
	.nav div:hover{
	background-color:#333333;
	cursor:pointer;
	color:#FFFFFF;
	}

	.dropdown {
	position: relative;
	background-color:pink;
	padding:20px;
	margin-left:20px;
	margin-right:20px;
	font-size:20px;
	font-family:"Lucida Console";
	border-radius:10px;
	}


	.dropdown > a {
	color:pink;
	text-decoration:none;
	display:block;
	}

	.dropdown-content {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	background-color: #1E1E1E;
	min-width: 200px;
	border-radius: 10px;   /* outer box only */
	box-shadow: 0 5px 15px rgba(0,0,0,0.8);
	overflow: hidden;     /* IMPORTANT: clips inner items */
	z-index: 100;
	}

	.dropdown-content a {
	display: block;
	padding: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
	background-color: #1E1E1E;   
	border-radius: 0;           
	}

	.dropdown-content a:hover {
	background-color: #333333;
	}

	.dropdown:hover .dropdown-content {
	display:block;
	}

	.dropdown:hover {
	background-color:orange;
	cursor:pointer;
	}
	.heading {
	text-align:center;
	background-color:#BBDCE5;
	border-radius:25px;
	margin-left:800px;
	margin-right:800px;
	margin-top:50px;
	margin-bottom:50px;
	}

	.box {
            background-color: #BBDCE5;
            border: 1px solid #dbdbdb;
            border-radius: 15px;
            padding: 20px;
            margin-left:100px;
	    margin-right:100px;
	    margin-top:100px;
        }