body {
        background-color: white;
        margin: 0px;
background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

    }

    .header {
        display: flex;
        background-color: white;
        padding: 10px;
        margin: 0px;
        text-align: center;
	background-image:url("../images/header_back.jpg");
	background-repeat:no-repeat;
	background-size:cover;
    }

    #logopic img {
        width: 150px;
        height: 150px;
        border-radius: 15px;
        margin-top: 30px;
        margin-left: 20px;
	background-color: #1E1E1E;
        border-radius: 10px;
	border: 4px solid transparent;        
	background:
    	linear-gradient(black, black) padding-box,
    	linear-gradient(90deg, cyan, purple, pink)
    }

    #logo {
        padding: 15px;
        margin-left: 80px;
        text-align: left;
        color: white;
        font-size: 40px;
        margin-top: 45px;
	margin-bottom:55px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	border-radius:16px;
	border: 4px solid transparent; 
    	background:
    	linear-gradient(black, black) padding-box,
    	linear-gradient(90deg, cyan, purple, pink)
    }

    #top-right {
        top: 10px;
        right: 10px;
    }

    #top-right button {
        width: 100px;
        height: 70px;
        border-radius: 15px;
        margin-left: 1210px;
        margin-top: 50px;
        background-color: #1E1E1E;
        color: #FFFFFF;
        border: 4px solid transparent;
        background:
    	linear-gradient(black, black) padding-box,
    	linear-gradient(90deg, cyan, purple, pink)
    	}

    	.nav {
        display: flex;
	padding:30px;
        background-color: black;
        text-align: center;
  	border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        background:
    	linear-gradient(black, black) padding-box,
    	linear-gradient(90deg, cyan, purple, pink)
 	}

    	
        .box {
            background:black;
            color:white;
            border: 1px solid #dbdbdb;
            border-radius: 15px;
            padding: 20px;
        border: 4px solid transparent;
        background:
    	linear-gradient(black, black) padding-box,
    	linear-gradient(90deg, cyan, purple, pink)
        }
	.margin_for_signup {
	   margin-top:50px;
	   margin-bottom:50px;
	   margin-left:500px;
	   margin-right:500px;
	}
	.margin_for_forgot_password {
		margin-left:500px;
		margin-right:500px;
	}
        input {
            width: 95%;
            padding: 10px;
            margin-right:5px;
	margin-left:5px;
		border:3px solid gold;
            border-radius: 5px;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

        }


        .error {
            color: red;
            font-size: 13px;
            display: block;
            margin-bottom: 10px;
        }

        button {
            width: 98%;
            padding: 12px;
            background-color: #0095f6;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

            button:hover {
                background-color: #0078cc;
            }

        .small-links {
            text-align: center;
            font-size: 14px;
        }

            .small-links a {
                color: #0095f6;
                text-decoration: none;
            }